.fab {
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.fab:hover {
    color: blue;
}

.container-fluid {
    align-content: center;
    position: fixed;
    justify-content: center;
    overflow-y: scroll;
    max-height: 100%;
}

.btn {
    border-radius: 20px;
    box-shadow: 0 3px 7px black;
    background-color: #00ADEF;
    border-style: none; 
    color: white;
}

.btn:hover {
    color: white;
}

.navbar {
    background-color: #00ADEF;
    
}

ul {
    justify-content: space-between;
    text-align: center;

}

.nav-link {
    color: white;
    font-size: 20px;
}

body {
    font-family: 'Oxygen', sans-serif !important;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../Project-3/Photos/Kenya\ –\ Winners\ Self\ Help\ \ \ Ball\ To\ All.png);
    background-size: 100%;
    text-align: center;
    color: white;
    height: 450px;
}

#content {
    margin-top: 200px;
}

.img-fluid {
    margin-left: 185px;
}

.cta {
    margin-left: 600px;
    box-shadow: none;
    
}



.container {
    text-align: center;
    width: 60%;
}

#text {
    width: 50%;
}

h3 {
    font-weight: 700;
    color: #006F9A;
}

h5 {
    padding-bottom: 40px;
    text-align: left;
}

#footer {
    background-color: #00ADEF;
    text-align: center;
    width: 2000px;
}

#donate {
    background-color: white;
    color: #00ADEF;
    box-shadow: 0 3px 7px black;
}

#foottext {
    color: white;
    font-weight: 100;
    padding-top: 20px;
}



hr {
    color: white;
    width: 30%;
    background-color: white;
}

p {
    color: white;
}


.navbar {
    text-align: center;
}

.sticky-top {
    background-color: white;
}

#bodytext {
    margin-bottom: 20px;
}

#copyright {
    padding-top: 20px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    justify-content: center;
}